body{
    font-family: sans-serif;
    height: 1500px;
}
.home-link{
    font-size: large;
    font-weight: bold;
    color: black;
}
logo-img:hover{
    filter: brightness(150);
    width: 200px;
}
.down-btn{
    border: none;
    width: 28px;
    height: 28px;
    background-color: white;
}
label{
    color: #ccc;
}
.home-link:hover{
    color: orange;
}
.link-nav{
    color: black;
}
.img-link{
    height: 21px;
    width: 21px;
}
.link-nav:hover{
    color:orange;
    font-weight: bold;
}
#hidden-div{
    width: 500px;
    height: 500px;
    position: fixed;
    left: 0;
    top=0;
    display: none;
}
.div-addr{
    z-index: -1;
}
.location,.div-addr{
    border:1px ridge;
    color: #ccc;
    font-size: small;
}
h4{
    font-family: sans-serif;
}
.arrow-btn{
     border-radius: 100%;
     background-color: #ccc;
     width: 40px;
     height: 40px;
}
.p-head{
    font-family:sans-serif;
    font-weight: bolder;
    font-size: 25px;
}
ul{
    list-style-type: none;
}